@import '../../styles/mixins.scss';

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  @include screen-xs {
    width: 100%;
  }

  width: 25%;
  border: none;
}

section {
  padding: 15px;
}

mat-sidenav-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
